@import url('https://fonts.googleapis.com/css?family=Orbitron:900');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

html {
    background-image: url(../img/metal-bkgd.jpg);
    background-position: bottom;
    background-size: cover;
}

.bkgd2 {
    width: 100%;
    background-image: url(../img/ok-box-header1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin: 0 auto;
}

.title {
    font-family: 'Orbitron', sans-serif;
    color: lightgray;
    font-size: 2em;
    width: 2.5em;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 20px;
    text-align: center;
    line-height: 30px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

button {
    font-family: 'Francois One', sans-serif;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    border-color: rgb(100, 100, 100);
    border-width: 3px;
    width: 60px;
    height: 50px;
    margin: 3px 1px 3px 5px;
}

button:focus {
    outline: none;
}

button:active {
    background-color: pink;
    background-image: linear-gradient(315deg, #ff9ea5 0%, #ff5d69 74%);
    border-color: rgb(255, 190, 190);
    border-width: 5px;
}

.buttons-container {
    display: block;
    position: relative;
    top: 80px;
    width: 267px;
    margin: 0 auto;
    background-color: #333333;
    border-radius: 3px;
}

.lower-graphics {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: -95px;
    left: -5px;

}

.fake-screen {
    margin: 0 auto;
    position: relative;
    width: 220px;
    height: 105px;
    background-image: url(../img/fake-screen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
}

.small-knob {
    background-image: url(../img/small-knob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    position: relative;
    bottom: 25px;
    width: 60px;
    height: 70px;
}

.power-switch {
    background-image: url(../img/power-switch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    position: relative;
    bottom: 30px;
    width: 40px;
    height: 55px;
    margin: 5px
}