@import url('https://fonts.googleapis.com/css?family=Orbitron:900');

body {
    background-color: black;
    background-image: url(../img/ok-box-header1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.title {
    font-family: 'Orbitron', sans-serif; 
    color: lightgray;
    font-size: 1.5em;
    width: 2.5em;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 15px;
}

button {
    background-color: silver;
    border-color: rgba(0, 0, 0, 0.72);
    border-width: 5px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.buttons-container {
    display: block;
    position: relative;
    top: 100px;
    width: 158px;
    margin: 0 auto;
}